.container-register
{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  background:linear-gradient(#108dc7,#ef8e38);
}


.register-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:300px;
  background-color: transparent;
  border:1px solid black;
  border-radius: 5%;
  padding:2%;
  box-shadow: 2px 2px 5px 5px ;
    h1{
      font-size: 30px;
    color: rgb(135, 31, 31);
    font-weight: bolder;
    margin-bottom: 20px;
    }
    form{
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 200px;
      gap:20px;
  
    }
    input{
      padding:20px;
      border:none;
      border-bottom: 1px solid gray;
      border-radius: 10px;
    }
  
    button{
      padding:10px;
      border:none;
      background-color: teal;
      cursor: pointer;
      color: white;
  
    }
    span{
      font-size: 15px;
      text-align: center;
    }
    p{
      font-size: 12px;
      color: red;
    }
} 
.loginnav:hover{
  font-size: 20px;
  color:rgb(0, 128, 9);
} 