.Ocr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    padding-bottom:25px;
    padding-top: 15px;
    .input{
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
    }
    .inputcontainer{
        background-color: #ffffff;
        box-shadow:0px 0px 8px 10px rgb(199, 198, 196);
        border:2px solid rgb(189, 186, 186);
        padding:40px;
        position:relative;
    }
    .inputcontainer::before{
        content: "";
        position: absolute;
        top: 13px; /* Adjust this value to control the spacing between borders */
        left: 13px; /* Adjust this value to control the spacing between borders */
        right: 13px; /* Adjust this value to control the spacing between borders */
        bottom: 13px; /* Adjust this value to control the spacing between borders */
        border: 1px dashed rgb(212, 207, 207);
    }
    .filename{
        font-size: 18px;
        font-weight: bold;
        color:rgb(239, 85, 8);
    }
.file{
    border:2px solid red;
    position: absolute;
    z-index: -1;
    top: 80px;
    left: 10px;
    
    color: #b8b8b8;

}
.button{
    display: inline-block;
        padding: 12px 30px;
        cursor: pointer;
        border-radius: 5px;
        background-color: #4b52cf;
        font-size: 32px;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
}
.btn{
    padding:10px;
    border:1px solid black;
    border-radius:10px;
    background-color: #4b52cf;
    color:white;
    margin-top:30px;
    box-shadow:0px 0px 2px 4px #c7c6c4;
}


}
.color-line{
    height:3px;
    background:linear-gradient(90deg,rgb(43, 114, 132),rgb(64, 173, 60),rgb(182, 34, 155));
    margin-bottom:40px;
}


.animationcontainer{

    display:flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;
}
.svg{
    position:relative;
    width:150px;
    height:150px;
    animation:rotate 2s linear infinite;
}

@keyframes rotate
{
   0%
   {
     transform: rotate(0deg);
   }
   100%
   {
    transform: rotate(360deg);
   }

}
.svg circle
{
    width:100%;
    height:100%;
    fill:none;
    stroke-width:10;
    stroke:#00a1ff;
    stroke-linecap:round;
    transform:translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: animate 4s linear infinite;
}

@keyframes animate 
{
    0%,100%
    {
        stroke-dashoffset: 440;
    }
    50%
    {
        stroke-dashoffset: 0;
    }
    50.1%
    {
        stroke-dashoffset: 880;
    }

}

.next-uploader{
    padding: 5px;
    font-size: 1.4rem; 
    font-weight: bold;   
}
.reupload-btn{
    border:2px solid black;
    border-radius: 10px;
    padding:5px;
    font-weight: bold;
    color: #ffffff;
    background-color: #4b52cf;
}

.reupload-btn:hover{
    background-color: #ebecf7;
    color:black;
    transition: 0.5s;
}
.resultheading{
    font-weight: bolder;
    font-size:x-large;
    padding-top: 10px;
}